body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  margin: 0;


  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header and navbar stuff */
header {
  padding-left: 10px;
  padding-right: 40px;
  grid-area: header;
}
.header-wrapper {
  margin-bottom: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}




@media only screen and (max-width: 799px) {
  .headerHamburger {
    margin-left: auto;
  }

  .headerNavBar {
   display: none;
  }

  .headerNavBar.responsive {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

nav a {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


header img {
  display: block;
}

header a:hover {
  background-color: #495e57
}

/* main content */
.main {
  grid-area: main;
}

/* footer content */
footer {
  grid-area: footer;
  padding-left: 10px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

footer img {
  display: block;
  margin: auto;
  margin-top: 22px;
  width: 100px;
  height: auto;
}

footer h3 {
  margin-bottom: 0;
  padding-bottom: 5px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* desktop responsiveness code here */
@media only screen and (min-width: 800px) {

  .header-wrapper {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .headerHamburger {
    display: none;
  }

  .headerNavBar {
    display: inline;
  }

  .headerNavBar.responsive {
    display: inline;
  }

  header nav a {
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /*footer*/
  footer {
    margin-left: 10%;
    margin-right: 10%;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
